// list dishes menu restaurant
.dishes-list {
  @include flex(row, flex-start, center, wrap);
  width: 100%;
  gap: calc-space(1.5);
  margin-bottom: calc-space(4);
  
  h3, p {
    margin:0;
    margin-bottom: 5px;
  }

  .dish {
    @include flex(row, space-between, stretch, nowrap);
    flex:1 1 30%;
    min-width: 270px;
    max-width: 33.3%;
    padding: 0;
    background: white;
    border-radius: $border-radius;
    box-shadow: $shadow-items;
    overflow: hidden;
    cursor: pointer;
    animation: dish-show $anim-dish-show-dur ease-out both;    

    @for $i from 1 through 20 {
      &--#{$i} {
        animation-delay: calc($anim-dish-show-dur / 3) * $i;
      }
    }

    &__desc {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left:15px;
      padding-right:5px;
      min-width: 0px;
      
      h3, p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      p {
        margin:0;
      }
    }

    &__select {
      @include flex(row, center, flex-end, nowrap);

      &__checkbox {
        position: relative;
        height: 100%;
        width: 0px;
        transition: width .2s ease-in-out;
      }

      p {
        font-weight: 600;
        padding-bottom: 10px;
        padding-right: 20px;
      }

      [type="radio"] {
        @include flex(column, center, center); 
        position: relative;
        margin:0;
        cursor: pointer;
        height: 100%;
        width: 65px;
        appearance: none;             

        &::before {
          @include absolute(0, 0, -1);
          content: "";       
          width: 100%;
          height: 100%;
          border: none!important;
          border-radius: 0 $border-radius $border-radius 0;
          transition: background-color .3s ease-in-out;
          background-color: $background-success;          
        }

        &::after {
          font-family: "Material Icons";
          color:white;
          height: 24px;
          width: 65px; 
          font-size: 24px;
          line-height: 24px;
          text-align: center;
          content: "\e86c";
          transform: rotate(0deg); 
        }

        &:not(:checked)::before {
          background-color: $background-success;  
        }

        &:checked::before {
          background-color: $secondary;  
        }

        &:checked::after {
          animation: pop 100ms ease-in-out 100ms!important; 
        }
      }
    }

    &:hover .dish__select__checkbox {
      width: 65px;

      & input[type="radio"]::after{
        animation: rotate 500ms ease-in-out 100ms both;
        transform: rotate(0deg);
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pop {
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dish-show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}